--
snippet begin
begin
	$1
rescue => exception
	$2
end
endsnippet

snippet beginen "begin ensure"
begin
	$1
rescue => exception
	
ensure
	
end
endsnippet

snippet beginel "begin else"
begin
	$1
rescue => exception
	
else
	
end
endsnippet

snippet beginelen "begin else ensure"
begin
	$1
rescue => exception
	
else
	
ensure
	
end
endsnippet

